
// Body
$body-bg: #FFF;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Buenard', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1b1e51;
$light_blue: #5163ba;
$pink: #f57077;
$text_gray: #403f3f;
$light_gray: #CCC;

$primary: #737c7f;
$secondary: $pink;

// typography
$font-size-lg: ($font-size-base * 1) !default;
$font-size-sm: ($font-size-base * .675) !default;

// forms
$input-placeholder-color: $light-gray;      
$input-focus-border-color:$light-gray;
$input-focus-box-shadow: none;     

// buttons
$btn-padding-y-sm: 0.8rem;
$btn-padding-x-sm: 0.8rem;
$btn-line-height-sm: 0.8rem;

// global
$border-color: $light-gray;
$component-active-bg: $light-gray;